{% load i18n %}
{% load url from simple_history_compat %}
{% load admin_urls %}
{% load getattribute from getattributes %}
{% load admin_tags %}
<style nonce="{{ request.csp_nonce }}">
    .full_width {
        width: 100%;
        align-items: center;
    }

    .full_width td {
        width: 30%;
    }

    h2 {
        margin-top: 2%;
    }
</style>

<h2>Status change history</h2>
<table id="change-history-summary" class="table table-bordered table-striped full_width">
    <thead>
    <tr>
        <th scope="col">{% trans 'Date/time' %}</th>
        <th scope="col">{% trans 'User' %}</th>
        <th scope="col">{% trans 'Status' %}</th>

    </tr>
    </thead>
    <tbody>
    {% with filtered_actions=application_history %}
        {% for action in filtered_actions %}
            {% should_display action as should_display %}
            {% if should_display %}
                <tr>
                    <td>
                        <a href="{% url opts|application_admin_url:'simple_history' action.id action.pk %}">{{ action.history_date | format_date }}</a>
                    </td>
                    <td>
                        {% if action.last_updated_by %}
                            {% url admin_user_view action.last_updated_by.id as admin_user_url %}
                            {% if admin_user_url %}
                                <a href="{{ admin_user_url }}">{{ action| owner_filter }}</a>
                            {% else %}
                                {{ action.last_updated_by }}
                            {% endif %}
                        {% else %}
                            {% trans "-" %}
                        {% endif %}
                    </td>
                    <td>
                        {{ action.status | capfirst }}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    {% endwith %}
    </tbody>
</table>

<h2>Full event history</h2>
<table id="change-history" class="table table-bordered table-striped full_width">
    <thead>
    <tr>
        <th scope="col">{% trans 'Date/time' %}</th>
        <th scope="col">{% trans 'User' %}</th>
        <th scope="col">{% trans 'Changed fields' %}</th>
    </tr>
    </thead>
    <tbody>
    {% for action in action_list %}
        <tr>
            <td>
                <a href="{% url opts|admin_urlname:'simple_history' object.pk action.pk %}">{{ action.history_date| format_date }}</a>
            </td>
            <td>
                {% if action.history_user %}
                    {% url admin_user_view action.history_user.id as admin_user_url %}
                    {% if admin_user_url %}
                        <a href="{{ admin_user_url }}">{{ action.history_user }}</a>
                    {% else %}
                        {{ action.history_user }}
                    {% endif %}
                {% else %}
                    {% trans "-" %}
                {% endif %}
            </td>
            <td>
                <i>{{ action | changed_fields }}</i>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
