{% extends "admin/object_history.html" %}
{% load i18n %}
{% load url from simple_history_compat %}
{% load admin_urls %}
{% load admin_tags %}

{% block content %}
    <div id="content-main">
        <div class="govuk-table">
            {% if page_obj.object_list %}
                {% history_type page_obj as history_type %}
                {% if history_type == "Review" %}
                    {% display_review_list %}
                {% elif history_type == "Application" %}
                    {% display_application_list %}
                {% else %}
                    {% include object_history_list_template %}
                {% endif %}
            {% else %}
                <p>{% trans "This object doesn't have a change history." %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
