{% extends "base.html" %}
{% load crispy_forms_tags crispy_forms_gds %}
{% load govuk_frontend_django %}

{% block title %}Check your answers{% endblock %}

{% block beforeContent %}
  {% url "registry_details" as back_url %}
  {% back_link back_url %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Check your answers</h1>
      <div class="govuk-body">
        Make sure your answers are complete and correct. If you need to change any of your details, change them at this stage.
      </div>


      <h2 class="govuk-heading-m">Registrar details</h2>


      {#### Registrar organisation ####}

      {% gds_summary_list %}
        {% gds_summary_list_row %}
          {% gds_summary_list_row_key %}
            Organisation name
          {% endgds_summary_list_row_key %}
          {% gds_summary_list_row_value %}
            {{ registrar_name }}
          {% endgds_summary_list_row_value %}
          {% gds_summary_list_row_actions %}
            {% gds_summary_list_row_actions_item_inline text="Change" href="/change-registrar-details" %}
          {% endgds_summary_list_row_actions %}
        {% endgds_summary_list_row %}
      {% endgds_summary_list %}

      {#### Registrar contact details ####}
      {% gds_summary_list %}
        {% gds_summary_list_row %}
          {% gds_summary_list_row_key %}
            Contact details
          {% endgds_summary_list_row_key %}
          {% gds_summary_list_row_value %}
            {{ registration_data.registrar_name }}
            <br/>
            {{ registration_data.registrar_phone }}
            <br/>
            {{ registration_data.registrar_email }}
          {% endgds_summary_list_row_value %}
          {% gds_summary_list_row_actions %}
            {% gds_summary_list_row_actions_item_inline text="Change" href="/change-registrar-details" %}
          {% endgds_summary_list_row_actions %}
        {% endgds_summary_list_row %}
      {% endgds_summary_list %}


      <h2 class="govuk-heading-m">Domain request details</h2>


      {% gds_summary_list %}

        {#### Registrant Organisation type ####}

        {% gds_summary_list_row %}
          {% gds_summary_list_row_key %}
            Organisation type
          {% endgds_summary_list_row_key %}
          {% gds_summary_list_row_value %}
            {{ registrant_type }}
          {% endgds_summary_list_row_value %}
          {% gds_summary_list_row_actions %}
             {% gds_summary_list_row_actions_item_inline text="Change" href="/registrant-type" %}
          {% endgds_summary_list_row_actions %}
        {% endgds_summary_list_row %}

        {###### Reason for request ######}
        {% if route.primary == 2 %}
          {% gds_summary_list_row %}
            {% gds_summary_list_row_key %}Reason for request{% endgds_summary_list_row_key %}
            {% gds_summary_list_row_value %}
              {% if registration_data.domain_purpose == "website-email" %}Website (may include email){% endif %}
              {% if registration_data.domain_purpose == "email-only" %}Email only{% endif %}
            {% endgds_summary_list_row_value %}
            {% gds_summary_list_row_actions %}
              {% gds_summary_list_row_actions_item_inline text="Change" href="/domain-purpose" %}
            {% endgds_summary_list_row_actions %}
          {% endgds_summary_list_row %}
        {% endif %}


        {###### Exemption ######}

        {% if route.primary == 2 and route.secondary == 7 %}
          {% gds_summary_list_row %}
            {% gds_summary_list_row_key %}Exemption from GOV.UK website{% endgds_summary_list_row_key %}
            {% gds_summary_list_row_value %}
              {% if registration_data.written_permission == "yes" %}
                Yes, evidence provided:<br/>
                <a class="govuk-link" href="/download_file/exemption" target="_blank">{{ registration_data.exemption_file_original_filename }}</a>
              {% endif %}
            {% endgds_summary_list_row_value %}
            {% gds_summary_list_row_actions %}
              {% gds_summary_list_row_actions_item_inline text="Change" href="/exemption" %}
            {% endgds_summary_list_row_actions %}
          {% endgds_summary_list_row %}
        {% endif %}


        {###### Written permission ######}

        {% if route.primary == 2 or route.primary == 3 %}
          {% gds_summary_list_row %}
            {% gds_summary_list_row_key %}Permission to apply{% endgds_summary_list_row_key %}
            {% gds_summary_list_row_value %}
              {% if registration_data.written_permission == "yes" %}
                Yes, evidence provided:<br/>
                <a class="govuk-link" href="/download_file/written_permission"  target="_blank">{{ registration_data.written_permission_file_original_filename }}</a>
              {% else %}
                No {# This shouldn't normally happen #}
              {% endif %}
            {% endgds_summary_list_row_value %}
            {% gds_summary_list_row_actions %}
              {% gds_summary_list_row_actions_item_inline text="Change" href="/written-permission" %}
            {% endgds_summary_list_row_actions %}
          {% endgds_summary_list_row %}
        {% endif %}


        {###### Domain name ######}


        {% gds_summary_list_row %}
          {% gds_summary_list_row_key %}Domain name{% endgds_summary_list_row_key %}
          {% gds_summary_list_row_value %}{{ registration_data.domain_name }}{% endgds_summary_list_row_value %}
          {% gds_summary_list_row_actions %}
            {% gds_summary_list_row_actions_item_inline text="Change" href="/change-domain" %}
          {% endgds_summary_list_row_actions %}
        {% endgds_summary_list_row %}


        {###### Minister's support ######}

        {% if route.primary == 2 %}
          {% gds_summary_list_row %}
            {% gds_summary_list_row_key %}Minister's support{% endgds_summary_list_row_key %}
            {% gds_summary_list_row_value %}
              {% if route.tertiary == 8 %}
                No evidence provided
              {% else %}
                Yes, evidence provided:<br/>
                <a class="govuk-link" href="/download_file/minister" target="_blank">{{ registration_data.minister_file_original_filename }}</a>
              {% endif %}
            {% endgds_summary_list_row_value %}
            {% gds_summary_list_row_actions %}
              {% gds_summary_list_row_actions_item_inline text="Change" href="/minister" %}
            {% endgds_summary_list_row_actions %}
          {% endgds_summary_list_row %}
        {% endif %}

      {% endgds_summary_list %}


      <h2 class="govuk-heading-m">Registrant details</h2>


      {% gds_summary_list %}

        {###### Organisation name ######}

        {% gds_summary_list_row %}
          {% gds_summary_list_row_key %}Organisation name{% endgds_summary_list_row_key %}
          {% gds_summary_list_row_value %}{{ registration_data.registrant_organisation }}{% endgds_summary_list_row_value %}
          {% gds_summary_list_row_actions %}
            {% gds_summary_list_row_actions_item_inline text="Change" href="/change-registrant-details" %}
          {% endgds_summary_list_row_actions %}
        {% endgds_summary_list_row %}

        {###### Organisation contact details ######}

        {% gds_summary_list_row %}
          {% gds_summary_list_row_key %}
            Contact details
          {% endgds_summary_list_row_key %}
          {% gds_summary_list_row_value %}
            {{ registration_data.registrant_full_name }}
            <br>
            {{ registration_data.registrant_phone }}
            <br>
            {{ registration_data.registrant_email }}
          {% endgds_summary_list_row_value %}
          {% gds_summary_list_row_actions %}
            {% gds_summary_list_row_actions_item_inline text="Change" href="/change-registrant-details" %}
          {% endgds_summary_list_row_actions %}
        {% endgds_summary_list_row %}

        {##### Registry details #####}

        {% gds_summary_list_row %}
          {% gds_summary_list_row_key %}
            Registry (public information)
          {% endgds_summary_list_row_key %}
          {% gds_summary_list_row_value %}
            {{ registration_data.registrant_role }}
            <br>
            {{ registration_data.registrant_contact_email }}
          {% endgds_summary_list_row_value %}
          {% gds_summary_list_row_actions %}
            {% gds_summary_list_row_actions_item_inline text="Change" href="/registry-details" %}
          {% endgds_summary_list_row_actions %}
        {% endgds_summary_list_row %}
      {% endgds_summary_list %}

      <h2 class="govuk-heading-m">
        Now send your registrant's application
      </h2>
      <div class="govuk-body">
        By submitting this application you are confirming the details you are providing are correct to the best of your knowledge.
      </div>
      {% crispy form %}
    </div>
  </div>
{% endblock %}
