{% extends "base.html" %}
{% load crispy_forms_tags crispy_forms_gds %}
{% load govuk_frontend_django %}

{% block title %}Choose a .gov.uk domain name{% endblock %}

{% block beforeContent %}
  {% if route.primary == 1 %}
    {% url "registrant_type" as back_url %}
  {% else %}
    {% url "written_permission_upload_confirm" as back_url %}
  {% endif %}
  {% back_link back_url %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% error_summary form %}

      <h1 class="govuk-heading-xl">
        Choose a .gov.uk domain name
      </h1>

      <p class="govuk-body">
        A .gov.uk domain name must clearly describe your registrant's organisation or government initiative.
      </p>

      <p class="govuk-body">
        We approve domains on a first-come first-served basis. You must check if the proposed .gov.uk domain name is available manually using the Nominet portal or the <a href="https://www.nominet.uk/lookup/" target="_blank" class="govuk-link">Nominet lookup tool (opens in new tab)</a>, or use the <abbr title="Extensible Provisioning Protocol">EPP</abbr> check command if you're using automated tools.
      </p>
      <p class="govuk-body">
        <a class="govuk-link" href="https://www.gov.uk/guidance/choose-your-govuk-domain-name" target="_blank">Follow rules on how to choose a .gov.uk domain name (opens in new tab)</a>.
      </p>
      <p class="govuk-body">
        Enter the .gov.uk domain name
      </p>
      {% crispy form %}
    </div>
  </div>
{% endblock %}
