{% extends "base.html" %}
{% load crispy_forms_tags crispy_forms_gds %}
{% load govuk_frontend_django %}

{% block title %}Confirm uploaded evidence of the minister's request{% endblock %}

{% block beforeContent %}
  {% url "minister_upload" as back_url %}
  {% back_link back_url %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Confirm uploaded evidence of the minister's request
      </h2>
      <div class="govuk-hint">
        We support JPEG, PNG or PDF files. The maximum upload size is 10MB.
      </div>

      <dl class="govuk-summary-list govuk-summary-list--long-key">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <a class="govuk-link" id="uploaded-filename" href="/download_file/minister" target="_blank">{{ registration_data.minister_file_original_filename }}</a>
          </dt>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--green">
              Uploaded
            </strong>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" id="remove-link" href="{% url "minister_upload_remove" %}">
              Remove<span class="govuk-visually-hidden"> {{ registration_data.minister_file_original_filename }}</span>
            </a>
          </dd>
        </div>
      </dl>
      <a class="govuk-button" id="button-continue" href="{% url "registrant_details" %}">
        Continue
      </a>
      {% if registration_data.change %}
        <a class="govuk-button govuk-button--secondary" id="id_back_to_answers" href="{% url "confirm" %}">
          Back to answers
        </a>
      {% endif %}
    </div>
  </div>
{% endblock %}
