{% extends "base.html" %}
{% load govuk_frontend_django crispy_forms_gds %}

{% block title %}Your registrant is not eligible{% endblock %}

{% block beforeContent %}
  {% url 'registrant_type' as back_url %}
  {% back_link back_url %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Your registrant is not eligible for a .gov.uk domain name
      </h1>
      <p class="govuk-body">
        Your registrant cannot get approval for a .gov.uk domain name because they are not from an eligible organisation.
      </p>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Check which organisations are eligible
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <li>central government department or agency - unless you qualify for an exemption</li>
            <li>non-departmental body - also known as an arm’s length body</li>
            <li>parish, town or community council</li>
            <li>district, borough, city or county council</li>
            <li>fire service</li>
            <li>combined or unitary authority</li>
            <li>police and crime commissioner</li>
            <li>joint authority</li>
            <li>joint committee</li>
            <li>organisation representing a group of public sector bodies</li>
            <li>organisation representing a profession across public sector bodies</li>
          </ul>
        </div>
      </details>

      <div class="govuk-inset-text">
        If you still think that your registrant is eligible to apply, you can email <code>approvals@domains.gov.uk</code>.
      </div>


      <p class="govuk-body">
        For more information on eligibility read the <a href="https://www.gov.uk/guidance/check-if-your-organisation-can-get-a-govuk-domain-name" class="govuk-link">guidance to check if your registrant’s organisation can get a .gov.uk domain name</a>.
      </p>
    </div>
  </div>
{% endblock %}
