{% extends "base.html" %}
{% load govuk_frontend_django %}

{% block title %}Terms and conditions - Get approval to use a .gov.uk domain name - GOV.UK{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">
                Terms and conditions
            </h1>
            <p class="govuk-body">
                This online service allows .gov.uk Approved Registrar to apply for permission to register a .gov.uk third-level domain name on behalf of eligible public sector organisations called Registrants. In the future, additional services and features may be added.
            </p>
            <p class="govuk-body">By using this service, you indicate that you accept these terms and conditions and agree to abide by them.</p>
            <p class="govuk-body">The service is owned and operated by the Central Digital and Data Office (CDDO), which is part of the Cabinet Office.
            </p>
            <h2 class="govuk-heading-m">
                Costs
            </h2>
            <p class="govuk-body">There is no charge to use this service to get approval to use a .gov.uk domain name. The .gov.uk Registry Operator will charge £10 to register the domain name and renew it every year.
            </p>
            <h2 class="govuk-heading-m">
                Audits and review
            </h2>
            <p class="govuk-body">CDDO reserves the right to carry out audits and reviews of your compliance with the terms of this service, and you, the customer, must agree to co-operate fully with any such audit or review.
            </p>
            <h2 class="govuk-heading-m">
                Termination
            </h2>
            <p class="govuk-body">CDDO reserves the right to withdraw this service at any point and without prior notice.
            </p>
            <h2 class="govuk-heading-m">
                Continuity of service
            </h2>
            <p class="govuk-body">Where possible, CDDO will use reasonable endeavours to ensure that there is no break in the continuity of service and will only make changes when required. Outages may be required on occasions where essential upgrades to the service need to be implemented.
            </p>
            <h2 class="govuk-heading-m">
                Disclaimer
            </h2>
            <p class="govuk-body">CDDO does not accept responsibility or liability for any losses or penalties incurred as a result of your use of any links or reliance on the content of any website or web pages to which this service is linked.
            </p>
            <p class="govuk-body">This includes loss of:
            </p>

            <ul class="govuk-list govuk-list--bullet">
                <li>income or revenue</li>
                <li>business</li>
                <li>profits or contracts</li>
                <li>anticipated savings</li>
                <li>data</li>
                <li>goodwill</li>
                <li>tangible property</li>
                <li>wasted management or office time</li>
            </ul>

            <p class="govuk-body">Websites or web pages to which this service is linked are for information purposes only.</p>
            <p class="govuk-body">CDDO does not control, endorse, sponsor or approve of content on such websites or pages, except where it is otherwise expressly stated.
            </p>
            <p class="govuk-body">CDDO does not accept responsibility or liability for any losses or penalties incurred as a result of your use of any links or reliance on the content of any website or web pages to which this service is linked.</p>
            <h2 class="govuk-heading-m">
                Cookies
            </h2>
            <p class="govuk-body">By using this service and agreeing to these terms and conditions, you, the customer, agree that CDDO will gather information relating to the use of the service. When you, the customer, visit this website a small amount of data known as a cookie may be stored on your device. CDDO uses cookies to improve the site by monitoring how you, the customer, use it. You, the customer, can configure your device to reject cookies. Note that you the customer may not be able to access or use certain features of this website if you the customer rejects a cookie.
                Please <a class="govuk-link" href="https://get-approval.domains.gov.uk/cookies">read the cookie policy for more information</a>.
            </p>
            <h2 class="govuk-heading-m">
                Virus protection
            </h2>
            <p class="govuk-body">CDDO will make every effort to check and test material at all stages of production. However, you, the customer, must take your own precautions to ensure that the process you employ for accessing this service does not expose you, the customer, to the risk of viruses, malicious computer code or other forms of interference which may damage your device.
            </p>
            <p class="govuk-body">CDDO does not accept responsibility for any loss, disruption or damage to your data or your device which may occur whilst using material derived from this service.
            </p>
            <h2 class="govuk-heading-m">
                Viruses, hacking and other offences
            </h2>
            <p class="govuk-body">If you, the customer, misuse the service by knowingly introducing viruses, trojans, worms, logic bombs or other material which is malicious or technologically harmful, or attempt to gain unauthorised access to the service or any server, computer or database connected to CDDO, attack our service via a denial-of-service attack or a distributed denial-of-service attack, you the customer would commit a criminal offence under the Computer Misuse Act 1990. CDDO will report any such breach to the relevant law enforcement authorities and will co-operate with those authorities by disclosing your identity to them.
            </p>
            <h2 class="govuk-heading-m">
                Copyright and reproduction
            </h2>
            <p class="govuk-body">By using this service and agreeing to these terms and conditions, you, the customer, agree that CDDO will gather information relating to the use of the service. When you, the customer, visit this website a small amount of data known as a cookie may be stored on your device. CDDO uses cookies to improve the site by monitoring how you, the customer, use it. You, the customer, can configure your device to reject cookies. Note that you the customer may not be able to access or use certain features of this website if you the customer rejects a cookie.
                Please <a class="govuk-link" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">read the Crown copyright page</a>.
            </p>
            <p class="govuk-body">You, the customer, are not permitted to adapt or modify the Information, any attempt to do so will constitute a breach of these terms and conditions.
            </p>
            <p class="govuk-body">The names, images and logos identifying CDDO are proprietary marks of CDDO. Copying CDDO logos and/or any other third party logos accessed through this site is not permitted without prior approval from the relevant copyright owner.
            </p>
            <h2 class="govuk-heading-m">
                Changes
            </h2>
            <p class="govuk-body">CDDO reserves the right, at its discretion, to make changes to any part of this service, the information, or these terms and conditions at any time. Should CDDO change these terms and conditions, an updated copy will be made available on this page.
            </p>
            <h2 class="govuk-heading-m">
                Severability
            </h2>
            <p class="govuk-body">If any of these terms and conditions are held to be invalid, unenforceable or illegal for any reason, the remaining terms and conditions will nevertheless continue in full force.
            </p>
            <p class="govuk-body">If CDDO waives any rights available to it under these terms and conditions on one occasion, this does not mean that those rights will automatically be waived on any other occasion.</p>
            <h2 class="govuk-heading-m">
                Events beyond CDDO control
            </h2>
            <p class="govuk-body">CDDO accepts no liability for any failure to comply with these terms and conditions where such failure is due to circumstances beyond its reasonable control. If CDDO waives any rights available to it under these terms and conditions on one occasion, this does not mean that those rights will automatically be waived on any other occasion.
            </p>
            <h2 class="govuk-heading-m">
                Governing law
            </h2>
            <p class="govuk-body">These terms and conditions are governed by and construed in accordance with the laws of England and Wales. Any dispute arising under these terms and conditions are subject to the exclusive jurisdiction of the Courts of England and Wales.
            </p>


        </div>
    </div>
{% endblock %}
