{% extends "base.html" %}
{% load crispy_forms_tags crispy_forms_gds %}
{% load govuk_frontend_django %}

{% block title %}Confirm uploaded evidence of permission to apply{% endblock %}

{% block beforeContent %}
  {% url "written_permission_upload" as back_url %}
  {% back_link back_url %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Confirm uploaded evidence of permission to apply
    </h2>
    <div class="govuk-hint">
      We support JPEG, PNG or PDF files. The maximum upload size is 10MB.
    </div>

    <dl class="govuk-summary-list govuk-summary-list--long-key">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <a class="govuk-link" id="uploaded-filename" href="/download_file/written_permission" target="_blank">{{ registration_data.written_permission_file_original_filename }}</a>
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--green">
            Uploaded
          </strong>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" id="remove-link" href="{% url "written_permission_upload_remove" %}">
            Remove<span class="govuk-visually-hidden"> {{ registration_data.original_filename }}</span>
          </a>
        </dd>
      </div>
    </dl>
    <a class="govuk-button" id="button-continue" href="{% url "domain" %}">
      Continue
    </a>
    {% if registration_data.change %}
      <a class="govuk-button govuk-button--secondary" id="id_back_to_answers" href="{% url "confirm" %}">
        Back to answers
      </a>
    {% endif %}
    </div>
  </div>
{% endblock %}
