{% extends "base.html" %}
{% load crispy_forms_tags crispy_forms_gds %}
{% load csp %}
{% block title %}Does your registrant have proof of permission?{% endblock %}

{% block extra_stylesheets %}
  <style nonce="{{request.csp_nonce}}">
   /*
      Hide legend for visual modalities as it repeats the title
      based on the GOV.UK Design System's govuk-visually-hidden
      CSS class
    */
   legend::before {
     content: "\00a0";
   }
   legend::after {
     content: "\00a0";
   }
   .govuk-fieldset__legend.govuk-fieldset__legend--s {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: 0;
     padding: 0;
     overflow: hidden;
     clip: rect(0 0 0 0);
     clip-path: inset(50%);
     border: 0;
     white-space: nowrap;
     user-select: none;
   }
  </style>
{% endblock %}


{% block beforeContent %}
  {% if route.primary == 2 and route.secondary == 5 %}
    {% url "domain_purpose" as back_url %}
  {% elif route.primary == 2 and route.secondary == 7 %}
      {% url "exemption_upload_confirm" as back_url %}
  {% else %}
    {% url "registrant_type" as back_url %}
  {% endif %}
  {% back_link back_url %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% error_summary form %}
      <h1 class="govuk-heading-xl">
        Does your registrant have proof of permission to apply for a .gov.uk domain name?
      </h1>

      {% if route.primary == 2 %}
        <p class="govuk-body">
          Your registrant must get permission to apply from the chief information officer or equivalent if you're applying on behalf of a central government of agency.
        </p>
      {% else %}
        <p class="govuk-body">
          Your registrant must get written permission from the chief executive or equivalent if you're applying on behalf of a other public sector organisations.
        </p>
      {% endif %}
      <p class="govuk-body">
        Acceptable proof can be a screenshot of an email or a PDF file, which includes approval from the person who has authority to request the domain name. This person's work email address must be visible.
      </p>

      {% crispy form %}
    </div>
  </div>
{% endblock %}
